#statistics {
  padding: 5rem 0;
}

#statistics .card-text {
  font-weight: bold;
  font-size: 50px;
  color: tomato;
}

#statistics .card-infected {
  border-bottom-color: #a2c210;
  border-bottom-width: 10px;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

#statistics .card-recovered {
  border-bottom-color: #078044;
  border-bottom-width: 10px;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

#statistics .card-deaths {
  border-bottom-color: #193b6e;
  border-bottom-width: 10px;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

#statistics .card-active {
  border-bottom-color: #0c735e;
  border-bottom-width: 10px;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.card-title {
  font-weight: bolder;
  color: #0047b3
}

.dailyData {
  color: #096514;
  font-size: 35px;
}

.dailyDataActive {
  color: #096514;
  font-size: 31px;
}
